* {
	font-family: Open Sans, Arial, Helvetica, sans serif;
}

div.popup {
	display: none;
	background: dimgray;
	margin: 15px;
	padding: 10px;
	position = absolute;
	top = -99999px;
	left = -99999px;
}

div.popup span {
	color: white;
	font-stretch: condensed;
}

div.popup hr {
	border: none;
    background-color: gray;
    height: 1px;
}

span.use_title{
	font-weight: bold;
	display: block;
	width: auto;
}

span.use_desc{
}


